!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AnalizadorSemanticoRails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav{class: 'navbar navbar-expand-md navbar-dark fixed-top bg-dark'}
      %a{class: 'navbar-brand', href: '#'}= t('app_name')
    .container.jumbotron
      = yield
